[submodule "modules/ruby"]
	path = modules/ruby
	url = https://github.com/puppetlabs/puppetlabs-ruby.git
[submodule "modules/mailcatcher"]
	path = modules/mailcatcher
	url = https://github.com/fza/puppet-mailcatcher.git
[submodule "modules/nodejs"]
	path = modules/nodejs
	url = https://github.com/javiplx/puppetlabs-nodejs.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/gulpjs"]
	path = modules/gulpjs
	url = git@github.com:Edentic/puppet-gulpjs.git
[submodule "modules/livereload"]
	path = modules/livereload
	url = git@github.com:Edentic/puppet-livereload.git
[submodule "modules/casperjs"]
	path = modules/casperjs
	url = https://kasperbaago@github.com/Edentic/puppet-casperjs.git
[submodule "modules/phantomjs"]
	path = modules/phantomjs
	url = https://kasperbaago@github.com/Edentic/puppet-phantomjs.git
